@model adAdgenstvo.Models.Client


@if (User.IsInRole("client"))
{
    <h2>Профиль</h2>
}
else
{
    <h2>Профиль клиента</h2>
}

@if(Model != null)
{
    <table class="table">
    <tr>
        <th>Имя</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Отчество</th>
        <td>@Model.Patronymic</td>
    </tr>
    <tr>
        <th>Фамилия</th>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <th>Телефон</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Логин</th>
        <td>@Model.Login</td>
    </tr>
    <tr>
        <th>Компания</th>
        <td>@Model.NameCompany</td>
    </tr>
    <tr>
        <th>Инн</th>
        <td>@Model.Inn</td>
    </tr>
</table>
}


@* @if (!ViewData.ModelState.IsValid)
{ *@
    <div class="alert alert-danger">
        <strong>Пожалуйста, исправьте следующие ошибки:</strong>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
@* } *@