@model adAdgenstvo.Models.Client

<h2>Профиль клиента</h2>

<table class="table">
    <tr>
        <th>Имя</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Отчество</th>
        <td>@Model.Patronymic</td>
    </tr>
    <tr>
        <th>Фамилия</th>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <th>Телефон</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Компания</th>
        <td>@Model.NameCompany</td>
    </tr>
</table>