@model adAdgenstvo.Models.Worker

<h2>Профиль работника</h2>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>Имя</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Отчество</th>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td>@Model.Surname</td>
        </tr>
        <tr>
            <th>Телефон</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Зарплата</th>
            <td>@Model.Salary</td>
        </tr>
    </table>
}