@model adAdgenstvo.Models.OrderContractViewModel

<h2>Details</h2>

<h3>Order</h3>
<p>ID: @Model.Order.Id</p>
<p>Date Create: @Model.Order.DateCreate</p>
<p>Client ID: @Model.Order.ClientId</p>
<p>Agent ID: @Model.Order.AgentId</p>
<p>Status: @Model.Order.Status</p>
<p>Text: @Model.Order.Text</p>
<h3>Contract</h3>
@if (Model.Contract != null)
{
    <p>ID: @Model.Contract.Id</p>
    <p>Order ID: @Model.Contract.OrderId</p>
    <p>Price: @Model.Contract.Price</p>
    <p>Date Start Company: @Model.Contract.DateStartCompany.ToString("dd/MM/yyyy")</p>
    <p>Date End Company: @Model.Contract.DateEndCompany.ToString("dd/MM/yyyy")</p>
    <p>Status: @Model.Contract.Status</p>
}
else
{
    <p>No contract available for this order.</p>
}
<div>
    <a asp-action="Index" class="btn btn-secondary">К заказам</a>
</div>